/Animal.class
/Bird.class
/Car.class
/Cat.class
/Developer.class
/Dog.class
/Employee.class
/Intern.class
/MainAnimal.class
/MainEmployee.class
/MainVehicle.class
/Manager.class
/Motorcycle.class
/Truck.class
/Vehicle.class
